@font-face {
   font-family: 'georgia-4';
   font-display: swap;
   src: url('file:///D:/NANA%20P%C3%89REZ/ITM/SEMESTRE%203/P%C3%81GINAS%20WEB/TERCER%20PARCIAL/DANNY/parcial%203%20recursos%20web/fonts/georgia-4/font.ttf');
}
