@font-face {
   font-family: 'georgia-4';
   font-display: swap;
   src: url('file:///Users/dannyflorezalzate/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-04-21_211313/fonts/georgia-4/font.ttf');
}
